.eng {
  &--r{
    font-family: lato,sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  &--b {
    font-family: lato,sans-serif;
    font-weight: 700;
    font-style: normal;
  }
}
.jpn {
  &--r{
    font-family: ryo-gothic-plusn,sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  &--b {
    font-family: ryo-gothic-plusn,sans-serif;
    font-weight: 700;
    font-style: normal;
  }
}